<footer xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="frag-footer" id="footer">
	<div id="textfootercontent">
		<h2>A propos...</h2>
		<p id="footerDescri">TodoProjet est un projet à but non lucratif,
			veuillez demander conseil à votre médecin. Ne pas conseiller aux
			enfants de moins de 12 ans.</p>
	</div>
	<div id="footerParto">
		<h2>Ils nous font confiance... (il faut pas)</h2>
		<div id="imgPartoCont">
			<div class="imgParto"></div>
			<div class="imgParto"></div>
			<div class="imgParto"></div>
			<div class="imgParto"></div>
		</div>
	</div>
</footer>
