<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: main-layout-nofooter(head=~{:: #moncss}, titre=~{:: title}, main=~{:: main})}">
<title>ENI PROJET</title>
<th:block id="moncss">
	<link rel="stylesheet" data-th-href="@{/css/tchat.css}">
</th:block>
<body>
	<main>
		<div id="zonetchat">
		<ul>
		<li th:each="message : ${messages}">
			<span id="textetitre">PSEUDO :</span>
			<span id="textetitre" th:text="${message.pseudo}"></span>
			<br>
			<span id="texte">MESSAGE :</span>
				<span id="texte" th:text="${message.message}"></span><br>
				<span id="separator"> ---</span>
			</li>
		</ul>
		</div>
		<form data-th-action="@{/tchat}" method="post" data-th-object="${tchat}" id="formtchat">
			<div id="tchat__field">
			<input type="hidden" data-th-text="${tchat.pseudo}">
			<br>
				<label for="message">Message:</label>
				<textarea id="message" name="message" rows="4" cols="50" data-th-field="*{message}"></textarea>
				<button class="button login__submit" value="submit">Envoyer</button>
			</div>
		</form>
		<script data-th-src="@{/css/tchat.js}"></script>
	</main>
</body>
</html>