<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: main-layout(head=~{}, titre=~{:: title}, main=~{:: main})}">
<title>About us !</title>
<head>

</head>
<body>
	<main>
		<div class="textaboutus">
			<h3>A PROPOS !</h3>

			<p>Deux geeks asociaux ont décidé de créer un site de to-do list
				pour aider les gens à organiser leur vie. Ils ont passé des nuits
				blanches à coder en Java, à maudire le JAVA et à se battre avec
				THYMELEAF. Le résultat ? Un site web si beau qu'il ferait pleurer un
				designer, et tellement fonctionnel qu'il rendrait jaloux un
				ingénieur de la NASA. Les utilisateurs peuvent créer des listes de
				tâches, les cocher et les supprimer en un clic. Les notifications
				par e-mail ne sont pas incluses pour les plus distraits. Bref, un
				site web parfait pour les gens qui ont besoin d'aide pour se
				souvenir de respirer. Les deux geeks sont maintenant des héros de
				l'organisation et ont même été invités à une convention de fans de
				listes. Ils ont refusé, bien sûr, car les conventions sociales ne
				sont pas leur truc.</p>
			<br>
			<p>Merci à Mistral pour ce préambule .</p>

		</div>
	</main>
</body>
</html>