<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: main-layout-nofooter(head=~{:: #moncss}, titre=~{:: title}, main=~{:: main})}">
<title>ENI PROJET</title>
<th:block id="moncss">
	<link rel="stylesheet" data-th-href="@{/css/tache.css}">
</th:block>
<body>
	<main id="mainFormBlock" data-th-object="${tache}" >
		<div id="container-tache">
			<div id="cardsContainertasks">
				<button id="showFormBtn">+</button>
				<button id="showAddBtn">></button>
				<div class="cardstasks">
					<h2 data-th-text="'Détails du projet : '+${projet.titre}"></h2>
					<div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}" class="erreur-form-tache"></div>
					<hr>
					<div data-th-if="${#lists.isEmpty(registeredTasks)}"
						data-th-text="'YA RIEN CA REND FOU'"></div>
					<div id="task-container">
						<th:block data-th-if="${not #lists.isEmpty(registeredTasks)}"
							data-th-each="tache : ${registeredTasks}">
							<div data-th-if="${!tache.isComplete}" class="divtasks">
								<span data-th-text="${tache.titre}"></span> <span
									data-th-text="'Priorité : '+${tache.statutDePriorite}"></span>
								<span data-th-text="'Deadline : '+${tache.dateDeFin}"></span> <a
									data-th-href="@{/projet/detail/tache(id=${tache.id})}"><button>Archiver</button></a>
								<th:block data-th-if="${!#strings.isEmpty(tache.description)}">
									<img src="/images/info.png" class="infobulle" draggable="false">
									<p class="infobulleText" data-th-text="${tache.description}"></p>
								</th:block>
							</div>
						</th:block>
						<h2>Tâches archivées</h2>
						<th:block data-th-if="${not #lists.isEmpty(registeredTasks)}"
							data-th-each="tache : ${registeredTasks}">
							<th:block data-th-if="${tache.isComplete}">
								<div class="divtasks">
									<span data-th-text="${tache.titre}"></span> <span
										data-th-text="'Priorité : '+${tache.statutDePriorite}"></span>
									<span data-th-text="'Deadline : '+${tache.dateDeFin}"></span> <a
										data-th-href="@{/projet/detail/tache/unarchive(id=${tache.id})}"><button>Désarchiver</button></a>
									<th:block data-th-if="${!#strings.isEmpty(tache.description)}">
										<img src="/images/info.png" class="infobulle"
											draggable="false">
										<p class="infobulleText" data-th-text="${tache.description}"></p>
									</th:block>
								</div>
							</th:block>
						</th:block>
					</div>
				</div>
			</div>
			<div class="linetasks" id="borderForm">
				<h2 id="addTaskText">Ajouter une tâche ?</h2>
				<div data-th-replace="~{fragments/fragment-projet-detail :: frag-projet-form('/projet/detail')}"></div>
			</div>
			<div class="code-projet-affichage" id="codeAffiche">
				<h2 id="code-projet-text" data-th-text="'Le code secret de ce projet est : '+${projet.getCodeProjet}"></h2>
			</div>
		</div>
		<script data-th-src="@{/css/tache.js}"></script>
	</main>
</body>
</html>