<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: main-layout(head=~{}, titre=~{:: title}, main=~{:: main})}">
<title>S'inscrire</title>
<head>

</head>
<body>
	<main>
		<form data-th-action="@{/signin}" method="post" id="forminscription">
		<label for="pseudo">Pseudo</label>
		<input type="text" name="username" id="username">
		<label for="password">Mot de passe</label>
		<input type="password" name="password" id="password">
		<button type="submit">S'enregistrer</button>
		</form>
	</main>
</body>
</html>
