<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: main-layout(head=~{}, titre=~{:: title}, main=~{:: main})}">
<title>ENI PROJET</title>
<head>

</head>
<body>
	<main>
		<div id="container">
			<div id="cardsContainertasks">
				<div class="cardstasks" >
					<h2>Ergonomique</h2>
					<hr>
						<div class="linetasks" >
							<div class="checkbox-wrapper-15">
								<input class="inp-cbx" id="cbx-15" type="checkbox" style="display: none;"/>
								<label class="cbx" for="cbx-15" style="display: flex; justify-content: space-between;">
									<span>
										<svg width="12px" height="9px" viewbox="0 0 12 9">
										<polyline points="1 5 4 8 11 1"></polyline>
										</svg>
									</span>
									
									<span >Creer une BLL sans surprise et sans bug</span>
									
									<span>4</span>
									<span>DATE/DATE/DATE</span>
									<span>NOM PROJET</span>
								</label>
							</div>	
						</div>
						<div class="linetasks" >
						
						 <form method="post" id="formtache">
						    <div class="input-container">
						      <label for="inputTitreTache"></label>
						      <input type="text" placeholder="Titre tache" name="inputTitreTache" id="inputTitreTache">
						
						      <label for="inputPriorite"></label>
						      <select name="inputPriorite" id="inputPriorite">
						        <option value="">Priorite</option>
						        <option value="1">1</option>
						        <option value="2">2</option>
						        <option value="3">3</option>
						        <option value="4">4</option>
						        <option value="5">5</option>
						      </select>
						
						      <label for="inputDateDeFin"></label>
						      <input type="text" name="inputDateDeFin" id="inputDateDeFin" placeholder="Date de fin">
						    
						
						    <button type="submit" class="buttontache">submit</button>
						    </div>
						  </form>
						
						</div>
					</div>
				</div>
			</div>
	</main>
</body>
</html>